.signup {
    display: flex;
    flex-direction: column;
    height: 38rem;
    width: 27rem;
    align-items: center;
    justify-content: center;
}

.signError {
    color: red;
    margin-top: 0;

}

.signButton {
    background-color: rgb(61, 136, 228);
    width: 24rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
}

.labesSpace{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

*:disabled{
    background-color: rgba(61, 136, 228, 0.339);
}