.signup {
    display: flex;
    flex-direction: column;
    height: 37rem;
    width: 28rem;
    align-items: center;
    justify-content: center;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
}

.signup form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signError {
    display: flex;
    color: red;
    margin-top: 0;
    width: 24.5rem;
    height: 1.4rem;
    padding-bottom: 2px;
    justify-content: flex-start;
   

}

.signButton {
    background-color: rgb(61, 136, 228);
    width: 24rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
}

.labesSpace{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

*:disabled{
    background-color: rgba(61, 136, 228, 0.339);
}