.rating-input .filled {
    /* color: rgb(61, 136, 228); */
    color: #eeee4e;
}

.rating-input .empty {
    color: rgba(61, 136, 228, 0.358);

}

.rating-input{
    display: flex;
    flex-direction: row;   
    gap: 2px;
   
}