.currentSpotContainer{
        
        justify-content: center;
        align-items: center;
        width: 100%; 
}


.eachCurrentSpot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 2rem;
    justify-content: center;
    font-family: sans-serif;
     
}

.currentSpotImg{
    width: 21rem;
    height: 17rem;
    border-radius: 23px;
}

.manageContainer {
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    width: 18rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.manageButton {
    width: 10rem;
    background-color: white;
    border: 1px solid lightgray;
    height: 2.3rem;
    box-shadow: lightgray 0px 0px 6px;
    border-radius: 15px;
    background-color: rgba(61, 136, 228, 0.785);
    color: white;
    font-size: 14px;
}

a:link {
    text-decoration: none;
    color: black;
}

p, h1, h2, h4, a{
font-family:sans-serif;
}

.manageLastContainer{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 1rem;
   
}

.lastLine2{
    position: relative;
    top: -20px;
    left: 9px;
    padding-left: 0.5rem;
    height: 1.4rem;

}

.manageLastButtons{
    background-color: white;
    width: 4.5rem;
    height: 1.75rem;
    border-radius: 5px;
    background-color: rgba(61, 136, 228, 0.785);
    color: white;
    border: 1px solid lightgray;
     box-shadow: lightgray 0px 0px 6px;
     font-size: 13.5px;
}


.manageNames{
padding-left: 1rem;
font-size: 21px;
color: rgba(61, 136, 228);
}