.imgShowRight{
    width:14rem;
    height: 13rem;

}

.imgShowLeft{
    width: 29rem;
    height: 26rem;
    
}

.showContainer{
    display: flex;
    flex-direction: row;
    /* padding: 2rem; */
    gap: 1px;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
    
}

.fullPageShow{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 2rem;
    justify-content: center;
}

.rightContainerShow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45rem;
    gap: 1px;
}

.spotDetails{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.hostedText{
    width: 50rem;
    height: 10rem;
}

.reserveContainer{
display: flex;
flex-direction: column;
border: 2px solid black;
width: 21rem;
height: 8rem;
margin-left: 2rem;
}

.priceInfo{
    display: flex;
    flex-direction: row;
    width: 19rem;
    gap: 7rem;
}

.number{
    display: flex;
    flex-direction: row;
    align-items: center;
 
}

.pushLeft{
   padding-left: 1.5rem;
   display: flex;
   flex-direction: row;
   width: 5rem;
}
