.imgShowRight{
    width:16rem;
    height: 13.1rem;

}

.imgShowLeft{
    width: 29rem;
    height: 26.5rem;
    
}

.showContainer{
    display: flex;
    flex-direction: row;
    /* padding: 2rem; */
    gap: 5px;
    justify-content: center;
    align-items: center;
   padding: 1rem;
    width: 100%;
   
  
    font-family: sans-serif;
}

.fullPageShow{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 2rem;
    justify-content: center;
    /* height: 100%;
    width: 100%; */
    margin-bottom: 5rem;
}

.rightContainerShow{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 45rem;
    gap: 5px;
}
.smallImg{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.spotDetails{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}

.hostedText{
    width: 50rem;
    height: 10rem;
    font-family: sans-serif;
}

.reserveContainer{
display: flex;
flex-direction: column;
border: 2px solid black;
width: 21rem;
height: 8rem;
margin-left: 1rem;
margin-right: 1rem;
font-family: sans-serif;
}

.priceInfo{
    display: flex;
    flex-direction: row;
    width: 19rem;
    gap: 7rem;
    font-family: sans-serif;
}

.number{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
 
}

.pushLeft{
   padding-left: 1.5rem;
   display: flex;
   flex-direction: row;
   width: 5rem;

}

.singleReview {
    /* border-bottom: 1px solid lightgrey; */
    padding-bottom: 1rem;

}

.allReviews{
    padding-top: 1.5rem;
}

.secondContainer{
   padding-left: 5rem;
}

*.fa-star{
color: rgba(61, 136, 228, 0.657);
padding-right: 4px;
font-size: 1.6rem;

}

.starAndNum{
    display: flex;
        flex-direction: row;
        align-items: center;
        font-family: sans-serif;
        padding-left: 3rem;
}